body {
 background: url(../image/background.png);
}
.register{
 background: url(../image/background.png);

  background-size: 100%;

}

.center {
	padding-left: 250Px;
}
.center2 {
	padding-left: 350Px;
}